:root{
  --main-color: #0062cc;
  --hover-color: #007bff;
  --main-size: 16px;
}
/* Start Scroll Bar Settings */
::-webkit-scrollbar{width: 12px;}
::-webkit-scrollbar-track {background-color: #ccc;}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 5px;
  border: 1px solid #ccc;
}
::-webkit-scrollbar-thumb:hover {background-color: var(--hover-color);} 
/* End Scroll Bar Settings */

/* Start General Settings */
html{scroll-behavior: smooth;}
*{margin: 0px;padding: 0px;box-sizing: border-box;}
body{
  font-family: 'Reem Kufi Ink', sans-serif;
  text-transform: capitalize;
  overflow-x: hidden;
  font-size: var(--main-size);
}
.color{color: var(--main-color)!important;}
a:hover{color: var(--hover-color)!important;}
button{background: none;outline: none;}
.button{
  background-color: var(--main-color)!important;
  color: #fff !important;
  border-color: var(--main-color);
}
.button:hover{border-color: var(--main-color)!important;background-color: var(--hover-color)!important;}
.button-outline{color: var(--main-color) !important;border-color: var(--main-color)!important;}
.button-outline:hover{color: #fff !important;background-color: var(--hover-color);}
button:active,button:focus{background: none;outline: none;}
.circle{
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%s;
}
.back-color{background-color: #e9ecef;}
.under-line{text-decoration: underline;}
p{line-height: 1.5;letter-spacing: 1.5px;}
ul{list-style: none;}
/* End General Settings */

/* Start setting section */
.setting {
  position: fixed;
  left: -250px;
  top: 0;
  z-index: 1021;
  background-color: #FFF;
  color: #212529;
  width: 250px;
  min-height: 100vh;
  transition: .5s;
  border-right: 1px solid #ccc;
}
.show{left: 0;}
.setting .gear{
  position: absolute;
  top: 100px;
  left: 250px;
  border: 1px solid rgb(217, 230, 230);
  padding: 5px;
  background-color: rgb(217, 230, 230);
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
}
.setting h3{position: relative;}
.setting h3::after{
  content: "";
  width: 48px;
  height: 3px;
  position: absolute;
  bottom: -10px;
  left: 41%;
  background-color: var(--main-color);
}
.setting div div span{cursor: pointer; margin-left: 5px;}

          /* color section */
.setting .color-span{
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 5px;
  opacity: .3;
  cursor: pointer;
}
.setting .color-span:hover{opacity: .6;}
.setting .color-span:nth-child(1){background-color: #0062cc;}
.setting .color-span:nth-child(2){background-color: #bd2130;}
.setting .color-span:nth-child(3){background-color: #41B47E;}
.setting .selected {opacity: 1;}

          /* font section */
.setting .bordered{border: 2px solid var(--main-color); padding: 5px;border-radius: 5px;}
.setting .font-span:nth-child(1){font-size: 11px;}
.setting .font-span:nth-child(2){font-size: 18px;}
.setting .font-span:nth-child(3){font-size: 24px;}
/* End setting section */

/* Start Nav Bar */
.nav{box-shadow: 0px 0px 15px #ccc;}
/* End Nav Bar */

/* Start Slider + Animation */
.slider{overflow: hidden;}
.context {
  width: 100%;
  position: absolute;
  top:50%;
  padding: 2%;
  transform: translateY(-50%);
  z-index: 2;
  overflow: hidden;
}
.area{background: var(--main-color);width: 100%;height:calc(100vh - 56px);}
.circles{width: 100%;height: 100%;overflow: hidden;}
.circles li{
  position: absolute;
  display: block;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 10s linear infinite;
  bottom: -150px;
}
.circles li:nth-child(1){left: 25%;width: 80px;height: 80px;animation-delay: 0s;}
.circles li:nth-child(2){left: 10%;width: 20px;height: 20px;animation-delay: 2s;animation-duration: 12s;}
.circles li:nth-child(3){left: 70%;width: 20px;height: 20px;animation-delay: 4s;}
.circles li:nth-child(4){left: 40%;width: 60px;height: 60px;animation-delay: 0s;animation-duration: 18s;}
.circles li:nth-child(5){left: 65%;width: 20px;height: 20px;animation-delay: 0s;}
.circles li:nth-child(6){left: 75%;width: 110px;height: 110px;animation-delay: 3s;}
.circles li:nth-child(7){left: 35%;width: 150px;height: 150px;animation-delay: 7s;}
.circles li:nth-child(8){left: 50%;width: 25px;height: 25px;animation-delay: 15s;animation-duration: 45s;}
.circles li:nth-child(9){left: 20%;width: 15px;height: 15px;animation-delay: 2s;animation-duration: 35s;}
.circles li:nth-child(10){left: 85%;width: 150px;height: 150px;animation-delay: 0s;animation-duration: 11s;}
@keyframes animate {
  0%{transform: translateY(0) rotate(0deg);opacity: 1;border-radius: 0;}
  100%{transform: translateY(-1000px) rotate(720deg);opacity: 0;border-radius: 50%;}
}
marquee{font-size: 16px;}
/* End Slider + Animation */

/* Start Offers Section */
.line{position: relative;}
.line::after{
  content: "";
  position: absolute;
  width: 50px;
  height: 5px;
  background-color: var(--main-color);
  left: 50%;
  bottom: 15px;
  transform: translateX(-50%);
}
.team .child{transition: .5s;}
.team .child img{width: 100%;}
.team .child:hover{transform: scale(1.1,1.1);}
@media( max-width: 576px ){
  .child:hover{transform: scale(1,1);}
}
/* End Offers Section */

/* Start testimonial Section */
.testimonial{
  background-image: url(../imgs/dental-inspirations-image-9edd5a.jpg);
  background-size: cover;
  background-position: center top;
  filter: opacity(80%);
}
.testimonial li{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #000; 
  margin-bottom: -250px;
  cursor: pointer;
}
.testimonial .child{transition: .5s;}
.testimonial .child:hover{transform: translateY(-12px);cursor: pointer;}
@media( max-width: 576px ){
  .testimonial{
    background-image: url(../imgs/2020-10-14.jpg);
    background-size: cover;
    background-position: center;
  }
}
/* End testimonial Section */

/* Start After And Before Section */
.afterandbefore .image{position: relative;border-radius: 15px;overflow: hidden;height: 200px !important;}
.afterandbefore .image img { width: 100%;height: 100%;}
.afterandbefore .image::before
{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 1s;
  opacity: 0;
  background-size: cover;
  background-position: center left;
  cursor: pointer;
}
.afterandbefore .image.img1::before{bottom: 0;right: 0;}
.afterandbefore .image.img1:hover::before{opacity: 1;background-image: url(../imgs/after1.png);}
.afterandbefore .image.img2:hover::before{width: 100%;opacity: 1;background-image: url(../imgs/after4.png);}
.afterandbefore .image.img3:hover::before{width: 100%;opacity: 1;background-image: url(../imgs/after3.jpg);}
/* End After And Before Section */

/* Start Footer */
.footer{background-color: var(--main-color);color: #fff;}
/* End Footer */